<li id="comment-<%= comment._id %>">
        <p>
            <% if (locals.user && locals.user.id == comment.user.id){ %>
            
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
            <% } %>
            <%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>



            <small>
                <% if (locals.user){ %>
                    <a class="toggle-vote-button" data-votes="<%= comment.votes.length %>" href="/votes/toggle?id=<%=comment._id%>&type=Comment">
                            <%= comment.votes.length %> Votes
                    </a>
                <% }else{ %>
                    <%= comment.votes.length %> Votes
                <% } %>
            </small>
        </p>    

        

</li>